{% extends "base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% include "security/_messages.html" %}
{% block title %}Login{% endblock %}
{% block scripts %}<link rel="stylesheet" type="text/css" href="static/forms.css">{% endblock %}
{% block css %}
	
{% endblock %}
{% block content %}
<div class="text-center">
	<div class="container reg-form">
	<div class="header-box">
		<span class="reg-heading">{{ _('Login') }}</span>
	</div>
		<h1>{{ current_user.email }}</h1>
	</div>
</div>

</div>
{% endblock %}